*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #dec4db; */
}
body{
  background-color: #dec4db;

}
.app{
  /* display: grid; */
  background-color: #dec4db;
  font-family: 'Roboto', sans-serif;

}